# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# EditorConfig is awesome: https://EditorConfig.org

root = true


[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
indent_style = tabs
indent_size = 4

[*.txt]
indent_style = tab
indent_size = 4

[*.{diff,md}]
trim_trailing_whitespace = false
