@import "manual.css";

@font-face {
  font-family: DroidSans;
  src: url(DroidSans.ttf);
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300;
}

h1.mystyle:lang(en) {
  color: blue; /* TODO: change THIS to yellow for next version! */
  border: rgb(255, 0, 0);
  background-color: #FAFAFA;
  background: url(hello.jpg) !important;
}

div > p, p ~ ul, input [type="radio"] {
  color: green;
  width: 80%;
}

#header:after {
  color: red;
}

&!
